---
import Layout from '../layouts/Layout.astro';
// import headSvg from '';
---

<Layout title='ADP Technology'>
	<header class="bg-[url('./../assets/images/header.svg'')]">
		<h1 class='p-4'>Bienvenido a la página inicial de ADP Technology</h1>
	</header>
</Layout>
